<div style="background-color: #e9eaed;">
<h1>Recent Posts</h1>
<div style="background-color: #ffffff; width: 400px;
 border: 2px solid #d3d6db; padding: 10px; word-break: break-all;">
 <h3 style="color: blue;"><%= @writer %></h3><br>
<p>
  <%= @content %>
</p>
</div><br>
<a href="/wall/write">Write post again</a>
</div>
