<div style ="background-color:#e9eaed;">
  <h1>Write Post</h1>
  <form action="/wall/posts" method="post">
    Name: <input type="text" name="writer" placeholder="Whats your name"><br>
    Content: <br>
    <textarea name="content" cols="40" rows="5" placeholder="Write somthing"></textarea><br>
    <input type="submit" value="write">
  </form>
</div>
